{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerReport.html.twig' %}
{% endblock %}

{% block content %}
    {{ parent() }}
    
    <h3>All items on given Category</h3>
    
    <!--CSV session-->    
    <div class="orderBtn">
        <a href="{{ path ("categorycsv") }}">Export to CSV</a>
    </div>  
    

    <h3>All Categories</h3>

    <div class="grid-container">
        <table border="1">
            <thead>
                <tr>
                    <td>CATEGORY ID</td>
                    <td>CATEGORY NAME</td>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.getId() }}</td>
                        <td>{{ category.getName() }}</td>
                    </tr>
                {% else %}
                    <strong>LA TABLE category EST VIDE</strong>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


