 <header>

    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
                <li class="menu-text">Tequila</li>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="#0">Sign In</a></li>
                <li><a href="#0">Sign Up</a></li>
            </ul>
            </ul>
        </div>
    </div>

    <div class="row demo-toggle-title">
        <div class="columns">
            <h2 id="mainTitle">Tequila’s  <br> Reporting  <br> Module </h2>
        </div>
    </div>
</header>
    