<header>

        <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle="example-menu"></button>
            <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="example-menu">
            <div class="top-bar-left">
                <li class="menu-text"><a href="{{ path ("home") }}">Tequila</a></li>
            </div>
        </div>

        <div class="row demo-toggle-title">
            <div class="columns">
                <h2 id="mainTitle">Welcome <br> to our reporting <br>application</h2>

            </div>
        </div>

</header>