{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerHome.html.twig' %}
{% endblock %}

{% block content %}
<div class="intro">
    <h3>Report made easy</h3>
    <p>Create reports with interactive data visualizations.
    Search and explore vast amounts of data . <br>With app,you’re not constrained by preconceived notions of how data should be related, but can finally understand how it truly is related.<br>Create reports with interactive data visualizations. </p>
</div>

<!--Button for connection-->

<div class="btn">

<a class="button large" href="{{ path ("signin") }}">Sign In</a>

<a class="button large" href="{{ path ("signup") }}">Sign Up</a>

</div>


<div class="intro" >
    
    <h3>Advantages </h3>
    <p> 
        <ul id="advantage">
            <li>Search through large amounts of data lightning fast.</li>
            <li>Import measured data in all popular formats.</li>
            <li>Use your analyses on any number of measurements at the click of a button.</li>
            <li>Take advantage of the latest analysis procedures for the precise analysis of your measured data.</li>
            <li>Share your analysis templates with colleagues over your network.</li>
        </ul>
    </p>
</div>

{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}      
{% endblock %}  
