{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerHome.html.twig' %}
{% endblock %}

{% block content %}
<div class="intro">
    <h3>Report made easy</h3>
    <h4>Create interactive reports customized for tequila website</h4>
    <p>Create reports with interactive data visualizations.</p>
</div>


<div class="btn">

<a class="button large" href="#">Sign In</a>

<a class="button large" href="#">Sign Up</a>

</div>


<!--Testimonial-->


<div>
    <h3>Simple to use. More power than you can imagine.</h3>
    <p> Search and explore vast amounts of data . With app,you’re not constrained by preconceived notions of how data should be related, but can finally understand how it truly is related. 
    </p>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}      
{% endblock %}  
