{% extends "layout.html.twig" %}

{% block content %}
    <h1>Recovery password</h1>
    <form method="post" action="" id="user_recovery_password">
        <div>
            <label>Username</label>
            <input type="text" name="user_username" id="username">
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="user_email" id="email">
        </div>
        <div class="g-recaptcha" data-sitekey="6LcisTwUAAAAAClgE-1c8OteBGKiGZb3xpV1hAwR"></div>
        <button type="submit">Send</button>
    </form>

{% endblock %}