{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerReport.html.twig' %}
{% endblock %}

{% block content %}

    <div class="intro">
        <h3>Report made easy</h3>
        <p>Create reports with interactive data visualizations.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nunc consequat, tincidunt tellus ac, gravida odio. Morbi hendrerit risus ut tempus viverra. Praesent tempor eleifend metus quis vulputate. Integer vel commodo justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet iaculis justo, in tincidunt sem commodo eu. Integer convallis turpis at metus fermentum ultricies. </p>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-padding-x footer">

                <div class="blockBtn">   
                    <div class="large-4 medium-4 small-12 cell"><i class="fas fa-male"></i></div>
                    <div><a class="button large btnReport" href="">Customer</a></div>
                </div>
                <div class="blockBtn">   
                    <div class="large-4 medium-4 small-12 cell"><i class="far fa-money-bill-alt"></i></div>
                    <div><a class="button large btnReport" href="">Sales</a></div>
                </div>
                <div class="blockBtn">
                    <div class="large-4 medium-4 small-12 cell"><i class="fas fa-list"></i></div>
                    <div><a class="button large btnReport" href="">Category</a></div>
                </div>
                <div class="blockBtn">
                    <div class="large-4 medium-4 small-12 cell"><i class="fas fa-globe"></i></div>
                    <div><a class="button large btnReport" href="">Country</a></div>
                </div>
                <div class="blockBtn">   
                    <div class="large-4 medium-4 small-12 cell"><i class="fas fa-cubes"></i></div>
                    <div><a class="button large btnReport" href="">Product</a></div>
                </div>
                <div class="blockBtn">   
                    <div class="large-4 medium-4 small-12 cell"><i class="fas fa-user"></i></div>
                    <div><a class="button large btnReport" href="">User</a></div>
                </div>

        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}      
{% endblock %}  


