{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerReport.html.twig' %}
{% endblock %}

{% block content %}

    <div class="intro">
        <h3>Report made easy</h3>
        <p>Create reports with interactive data visualizations.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nunc consequat, tincidunt tellus ac, gravida odio. Morbi hendrerit risus ut tempus viverra. Praesent tempor eleifend metus quis vulputate. Integer vel commodo justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet iaculis justo, in tincidunt sem commodo eu. Integer convallis turpis at metus fermentum ultricies. </p>
    </div>

    <div class="intro">
        <h4>Customizable Reporting</h4>
        <h5>Upload a Customizable Reporting</h5>

        <fieldset class="fieldset">
            <legend>All order by client</legend>
            <input id="date" type="date" value="2017-11-15">
            <input id="date" type="date" value="2017-12-15">
            <div class="small-3 cell">
                <label for="right-label" class="text-right">Label</label>
            </div>
            <div class="input-group-button">
                <input type="submit" class="button" value="Export CSV file">
            </div>
        </fieldset>


        <fieldset class="fieldset">
            <legend>All items by category</legend>

            <label>Select category
                <select>
                    <option value="Category1">Category1</option>
                    <option value="Category2">Category2</option>
                    <option value="Category3">Category3</option>
                    <option value="Category4">Category4</option>
                </select>
            </label>
            <div class="input-group-button">
                <input type="submit" class="button" value="Export CSV file">
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <legend>Market segmentation</legend>
            <label>Select category
                <select>
                    <option value="Category1">Category1</option>
                    <option value="Category2">Category2</option>
                    <option value="Category3">Category3</option>
                    <option value="Category4">Category4</option>
                </select>
            </label>
            <label>Select product
                <select>
                    <option value="Product1">Product1</option>
                    <option value="Product2">Product2</option>
                    <option value="Product3">Product3</option>
                    <option value="Product4">Product4</option>
                </select>
            </label>
            <div class="input-group-button">
                <input type="submit" class="button" value="Show the graph">
            </div>
        </fieldset>

    </div>
    
    
    

{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}      
{% endblock %}  
